.head{
  text-align: center;
  font-family: cursive;
  font-size: larger;
  padding-top: 5%;
}

#h12{
  
  color: red;
}
.login{
  margin: 5% 30% 10% 30%;
  text-align: center;
  background-color: lightgrey;
  padding-bottom: 5%;

  padding: 10%;
  align-items: center;

}
#email{
   
  
}
#password{
    
    
}
.head2{
  text-align: center;
  font-family: cursive;
  font-size: larger;
  
  
  
}
#h{
  color: red;
}

#registerH{
  padding-left: 10%;
}

#RegisterForm{
  align-items: center;
  background-color: gray;
  padding-left: 10%;
  align-items:center;
  align-content: space-evenly;
  padding-bottom: 2%;
}
.form-row{
  width: 70%;
  padding-top: 2%;
  

}
.form-groupBG{
  padding-top: 2%;
}
.form-groupstate{
  padding-top: 2%;
}
.form-groupcity{
  padding-top: 2%;
}
.form-groupzip{
  padding-top: 2%;
}
.form-groupPH{
  padding-top: 2%;
}
.form-groupemail{
  padding-top: 2%;
}
.form-grouppassword{
  padding-top: 2%;
  padding-bottom: 2%;
}